<!DOCTYPE html>
<html>
    <head>
        <title>About Me</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div style="display: block;margin-right: auto;margin-left: auto;width: 75%; ">
            <div class="header">
                    <div class="navbar">
                        <a href="/contact">Contact Me</a>
                        <a href="/projects">Projects</a>
                        <a href="/">Home</a>
                    </div>
            </div>
        <div class="about">
            <div class="aboutcontent">
                <img src="static\IMG_20231021_174953.jpg" class="aboutimg" alt="" draggable="false" ><br>
                <h1 style="color: #C41E3D;">Heyaaaa!!!</h1>
                <p>
                    Hey, this is <p style="color: #7D1128; font-weight: bolder;">Riya Dhawan</p> A student from CEGEP, Montreal - Canada.
                    I am currently pursuing my course in Cloud Computing. I have completed my Bachelor's in Computer Science from University of Delhi with a score of 9.2 CGPA.
                    I am a <b>Cloud Computing</b> Enthusiast. I have done many projects in that field. I indeed love python too and this site
                    is too made in Flask which is loaded on a cloud instance. 
                </p>
                <p>I am fond of music, travelling and I love to eat and cook too.</p>
            </div>
        </div>
    </body>
</html>